node_modules/
apps/*/node_modules/
packages/*/node_modules/

build/
build-check/
build-probe/
build-probe2/
dist/
packages/*/build/
packages/*/dist/
packages/*/build-probe/
packages/*/build-probe2/
packages/*/a.out.js
packages/*/a.out.wasm

*.log
.DS_Store
