node_modules/
apps/*/node_modules/
packages/*/node_modules/
.venv/

build/
build-check/
build-probe/
build-probe2/
dist/
apps/*/dist/
packages/*/build/
packages/*/build-*/
packages/*/dist/
packages/*/target/
packages/third_party/*
!packages/third_party/llama.cpp/
packages/*/build-probe/
packages/*/build-probe2/
packages/*/a.out.js
packages/*/a.out.wasm

*.log
.DS_Store
*.gguf

logs/
log/
